@{
    ViewData["Title"] = "Home Page";
}

<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>MBYTE2000</h2>
					<p>
						Мой личный сайт визитка,<br />
						созданный для демонстрации моих навыков.
					</p>
				</header>
				<ul class="features">
					<li class="icon fa-paper-plane">
						<h3>bababbaba</h3>
						<p>abababaababbabba.</p>
					</li>
					<li class="icon solid fa-laptop">
						<h3>BObobobobo</h3>
						<p>bobobobobobobo.</p>
					</li>
				</ul>
			</div>
		</section>